<h2>New Book</h2>
<!-- change form type to multiform type to send data in multipart -->
<form action="/books" method="POST" enctype="multipart/form-data">
    <!-- common input tag for NEW and EDIT file -->
    <%- include('_form_fields')  %>
    <!-- Cancel Button(link) take back us to our author list view -->
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
</form>