<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <!-- Common header code for app  -->
    before
    <br>
    <!-- Content of all pages of app goes here -->
    <%- body %> 
    <br>
    <!-- Common footer code for app  --> 
    after
</body>
</html>